<div class="container-fluid">
  <div class="row">
    <div class="page-header">
      <% if @show_attendants_button %>
        <span class="pull-right" id="button-div">
          <button data-id="<%= @event.id %>" data-status="true"  id="eve-attending" class="btn btn-primary"> Attending</button>
          <button data-id ="<%=@event.id %>"  data-status="false" id="eve-not-attending" class="btn btn-danger">Not Attending</button>
        </span>
      <% end %>
      <% if @user_attendants.present? %>
        <span class="pull-right"> <span class="label label-info"> <%= @message %></span> </span>
      <% end %>

      <h1><%=  @event[:name] %></h3>
    </div>
    <p><%= @event[:description] %></p>
    <p><strong>location:</strong><%= @event[:location] %></p> 
    <p><strong>created_at: </strong><%= format_date(@event[:created_at], "%d %h %Y %H:%m") %></p>
    <p><strong>fees: </strong> <%= @event[:fees] %></p>
   
  
    <table class="table">
      <thead>
        <th>Sr No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>attending</th>
      </thead>
      <tbody>
        <% @event.users.each_with_index do |user, index|%>
          <% attendants = @event.attendants.detect{|at| (at[:user_id].to_i== user[:id].to_i && at[:event_id].to_i == @event[:id].to_i) } %>
          <td> <%= index + 1 %> </td>
          <td> <%= user[:name] %> </td>
          <td> <%= user[:email] %> </td>
          <td> <%= user[:gender] %> </td>
          <td>
            <% if attendants.present? %>
              <% if attendants[:attending] %>
                attending
              <% else %>
                not attending
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>


</div>